:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    --animate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1158px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/** Page Header section */

.page-header {
    border-bottom: 1px solid #e7e9fc
}

.page-header .container {
    display: flex;
    align-items: center;
    padding: 0 15px
}

/* ? for page header version 1
.header-left,
.header-right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 15px 0 15px,
}
? */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
}

.header-logo .logo-studio {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-right: 332px;

}

.nav-item {
    position: relative;
}

.nav-list .nav-item:first-child::after {
    content: ' ';
    position: absolute;
    background-color: var(--ocean);
    border-radius: 2px;
    width: 48px;
    height: 4px;
    bottom: 0px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item {}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Page Header section end */

/** Hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*? height: 100vh;*/
    background-image: linear-gradient(var(--grey), var(--grey)), url(../images/hero-bck.jpg);
    padding: 188px 0;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solutions {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 496px;
    margin-bottom: 48px;
}

.order-button {
    display: block;
    min-width: 169px;
    border-radius: 4px;

    border: none;
    padding: 16px 32px;
    height: 56px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    transition: background-color var(--animate);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

/* Hero section end */

/** Issues section */

.key-issues {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.key-issues-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.issues-item {
    width: calc(100% / 4 - 20px);
    min-width: 264px;
}

.issues-icon-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background-color: var(--cloud);
    margin-bottom: 8px;
}

.issues-icon {
    justify-content: center;
    fill: currentColor;
    margin: 24px 100px;
}

.issues-parag {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.issues-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Issues section end */

/** Team section */

.team {
    background-color: var(--cloud);
    padding: 120px 0;
}

.team-parag {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.team-description-container {
    padding: 32px 0px;
    margin: 0 16px;
}

.team-item-parag {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.team-item-parag,
.team-item-desc {
    text-align: center;
}

.team-social-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.social-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    padding: 12px 12px;
    background-color: var(--iris);
    transition: background-color var(--animate);
}

.team-social-icon {}

.social-icon-circle:hover {
    background-color: var(--ocean);
}

/* Team section end */

/** Portfolio section */

.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio .container {}

.portfolio-parag {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-portfolio-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    position: relative;
    transition: box-shadow var(--animate);
}

.portfolio-card-container {
    position: relative;
    overflow: hidden;
}

.portfolio-card {
    object-fit: cover;
}

.portfolio-card-overlay {
    position: absolute;
    height: 100%;
    padding: 40px 32px 0;
    left: 0;
    bottom: -100%;
    background-color: var(--iris);
    transition: bottom var(--animate);
}

.portfolio-overlay-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-card-overlay {
    bottom: 0px;
}

.portfolio-description-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-item-parag {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.portfolio-item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Portfolio section end */

/** Page Footer */

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-footer .container {}

.footer-logo .logo-studio {
    color: #f4f4fd;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
}

.footer-parag {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* Page footer end */